# Bỏ qua môi trường ảo (vì thư mục này rất nặng và máy ai tự tạo sau)
venv/
.venv/

# Bỏ qua file chứa mật khẩu Database và thông tin cấu hình bảo mật
.env

# Bỏ qua các file rác sinh ra trong quá trình Python chạy code
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.vscode/
.idea/